body { 
  font-family: Arial; 
  background: #f4f6f8; 
}

.container { 
  padding: 20px; 
}

.heading{
  color: grey;
  text-align: center;
}

.center { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input, select, button { 
  margin: 10px; 
  padding: 12px; 
}

table { 
  width: 100%; 
  background: white; 
  margin-top: 20px; 
}

th, td { 
  padding: 10px; 
  border-bottom: 1px solid #ddd; 
  text-align: center;
}

.cards { 
  display: flex; 
  gap: 20px; 
  margin-bottom: 20px; 
}

.form { 
  background: white; 
  padding: 15px; 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}

.checkbox{
  margin-left: 11px;
}

.file{
   margin-left: 0px;
}
